<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

      <!-- Label -->
         <div class="label">
           <img src="http://200.24.13.60/~segurosr/images/logo_sr.jpg?crc=484572589" class="rounded-circle z-depth-1-half" width="40" height="40">
         </div>

    <!-- Brand -->
    <a class="navbar-brand" href="#" target="_blank">
      <strong>Seguros Rehbein</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" target="_blank">Donde estamos</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://connectamericas.com/es" class="nav-link border border-light rounded waves-effect waves-light"
            target="_blank">
            <i class="fa fa-flag"></i>Connect Americas
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->
